{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Painel{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Bootstrap e Estilos -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendas.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ordem_servico.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body class="bg-primary">
    <div class="container-fluid px-3 py-2 bg-white">
      <!-- Header -->
      <!-- Navbar -->
      <nav style="padding: 0.5rem 1rem;" class="navbar navbar-expand-lg navbar-dark bg-primary rounded mb-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">🛒 DiskCell</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarMenu"
          >
            <ul  class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link btn btn-danger text-white me-1"
                  href="{% url 'criar_cliente' %}"
                  >➕ Cliente</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-success text-white me-1"
                  href="{% url 'produto_criar' %}"
                  >➕ Produto</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-warning text-white me-1"
                  href="{% url 'nova_venda' %}"
                  >➕ Venda</a
                >
              </li>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link btn btn-secondary text-white me-1"
                  href="{% url 'nova_os' %}"
                  >➕ Serviço</a
                >
                <li class="nav-item">
                <a
                  class="nav-link btn btn-danger text-white me-1"
                  href="{% url 'marca_create' %}">➕ Marca
                </a
                >
                <li class="nav-item">
                <a
                  class="nav-link btn btn-success text-white me-1"
                  href="{% url 'modelo_create' %}">➕ Modelos
                </a
                >
            </ul>

            <!-- Formulário de busca no menu -->
            <form class="d-flex" method="get" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Buscar por nome..."
                aria-label="Buscar"
                name="q"
                value="{{ q }}"
              />
              <button class="btn btn-light" type="submit">🔍</button>
            </form>
          </div>
        </div>
      </nav>

      <div style="padding: 15px;" class="row">
        <!-- Menu Lateral -->
        <div class="col-12 col-md-3 mb-3">
          <div class="d-grid gap-2">
            <a class="btn btn-info btn-lg" href="{% url 'dashboard' %}"
              ><span class="material-symbols-outlined">
dashboard
</span>Painel de Controle</a
            >
            <a class="btn btn-danger btn-lg" href="{% url 'listar_clientes' %}"
              ><span class="material-symbols-outlined">
person
</span> Clientes</a
            >
            <a class="btn btn-success btn-lg" href="{% url 'produto_listar' %}"
              ><span class="material-symbols-outlined">
inventory_2
</span> Produtos</a
            >
            <a class="btn btn-warning btn-lg" href="{% url 'lista_vendas' %}"
              ><span class="material-symbols-outlined">
money
</span> Vendas</a
            >
            <a class="btn btn-secondary btn-lg" href="{% url 'lista_os' %}"
              ><span class="material-symbols-outlined">
build
</span> Serviços</a
            >
            <a class="btn btn-danger btn-lg" href="{% url 'marca_list' %}"
              ><span class="material-symbols-outlined">
local_offer
</span> Marcas</a
            >
            <a class="btn btn-success btn-lg" href="{% url 'modelo_list' %}"
              ><span class="material-symbols-outlined">
devices
</span> Modelos</a
            >
            <a class="btn btn-dark btn-lg" href="/admin/">⚙️ Admin</a>
          </div>
        </div>

        <!-- Conteúdo Principal -->
        <div class="col-12 col-md-9">
          <div class="p-3 bg-light rounded shadow">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer
        style="background-color: #0d6efd; padding: 10px"
        class="mt-4 text-center text-white"
      >
        <p class="mb-1">&copy; 2025 DiskCell. Todos os direitos reservados.</p>
        <p>
          Contato:
          <a class="text-white" href="mailto:leotimbauba60@gmail.com"
            >leotimbauba60@gmail.com</a
          >
        </p>
      </footer>
    </div>

    <!-- Scripts Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
